.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(../images/content/bg.gif);
    background-position: 0 0;
    background-size: 250px;
    opacity: 0.1;
    z-index: -1;
}
.loading {
    // display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #0b0b0b;

    &.on {
        top: -100%;
    }

    .inner {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .text-area {
        width: 100%;

        &.on {
            opacity: 0;
            transition: 0.3s;
        }
        .text-group {
            font-size: 100px;
            text-transform: uppercase;

            .text-box {
                display: inline;
                .text {
                    overflow: hidden;

                    span {
                        transform: translateY(100%);
                        display: inline-block;
                        @include mobile {
                            font-size: 50px;
                        }
                    }
                }
            }
            .num-box {
                .num {
                    &:nth-child(1) {
                        text-indent: 1.5em;
                    }
                    font-size: 50px;
                    font-family: "ZephyrRegular", sans-serif;
                    font-style: italic;
                }
            }
        }

        .text2 {
            padding-top: 50px;
            text-align: right;
            font-size: 14px;
        }
    }
}
.inner {
    padding: 100px 80px;

    @include desktop {
        padding: 50px 20px;
    }
    @include tablet {
    }
    @include mobile {
        padding: 50px 10px;
    }
}
.text-inner {
    margin-left: 250px;
    display: flex;
    gap: 50px;

    @include desktop {
        margin-left: 200px;
    }
    @include tablet {
        margin-left: 0;
    }
    @include mobile {
        flex-direction: column;
        gap: 0;
    }
}

.left {
    span {
        font-style: italic;
        font-family: "ZephyrRegular", sans-serif;
        font-size: 50px;
        @include mobile {
            font-size: 20px;
        }
    }
}
.right {
    flex: 1;
}
.title-box {
    .title {
        font-size: 125px;
        text-transform: uppercase;

        @include desktop {
            font-size: 90px;
        }
        @include tablet {
        }
        @include mobile {
            font-size: 40px;
        }
    }
    span {
        display: block;
        width: fit-content;
        line-height: 9rem;
        position: relative;

        @include tablet {
            line-height: 5.5rem;
        }
    }
}

.showw {
    --left: 100%;
    .line {
        flex: 1;
        position: relative;
        padding-bottom: 50px;
        overflow: hidden;
        --left: 100%;
        @include mobile {
            padding: 0;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            left: var(--left);
            height: 1px;
            background-color: #fff;
        }
        .title {
            overflow: hidden;

            span {
                transform: translateY(100%);
            }
        }
    }
    .show {
        transform: translateY(100px);
        opacity: 0;
    }
}

@keyframes move {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-150%);
    }
}
@keyframes move2 {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(-50%);
    }
}
